@import url('https://fonts.googleapis.com/css2?family=Chicle&family=Orbitron:wght@400..900&display=swap');

:root {
    --main: #20835D;
    --secondary: #ffffff;
    --third: #daca3bff;
    --sub-main: #216249ff;
    --extra: #d9d9dd;
    --less: #000000;

    /* Transparant version */
    --tpr-main: rgba(32, 131, 93, 0.55);
    --tpr-sec: rgba(255, 255, 255, 1);
    --tpr-third: rgba(218, 202, 59, 0.75);
    --tpr-ss: rgba(33, 98, 73, 0.75);
    --tpr-ex:rgba(217, 217, 221, 0.75);
    --tpr-ls: rgba(0, 0, 0, 0.75);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Backgrounds */

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.img {
    background-image: url(../assets/pexels-budgeron-bach-5158233.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 45vw;
}

#screen {
    background-color: var(--main);
    width: 55vw;
    height: 100vh;
    display: grid;
    justify-items: center; /*Aligns the items at the center of the grid (row wise), items take into account the entire div*/
    align-items: center; /* Aligns the items inside the grid at the center of the grid (column wise)*/
    padding: 0 5rem;
}

/* Title */
h1 {
    position: relative;
    font-size: 3rem;
    color: var(--third);
    top: 60%;
    font-family: "Gravitas One", serif;
    font-weight: 900;
}

/* Formula board */
.verify {
    position: relative;
    max-width: 700px;
    width: 100%;
    background: var(--sub-main);
    padding: 1.2rem;
    border-radius: 0.8rem;
    margin-top: 10%;
}

/* LIGNE 1 - NOM/PRENOM */
.form .names {
    width: 100%;
    margin-top: 1.2rem;
}

.names label {
    color: var(--secondary);
}

.form .names input {
    position: relative;
    height: 2rem;
    width: 100%;
    outline: none;
    border: 1px solid var(--extra);
    border-radius: 0.4rem;
    padding: 0 0.6rem;
    margin-top: 0.2rem;
    background: var(--extra);
}

/* The column separator */
.form .column {
    display: flex;
    column-gap: 1.5rem;
}

/* LIGNE 2 - EMAIL */
.form .mail {
    width: 100%;
    margin-top: 1rem;
}

.mail label {
    color: var(--secondary);
}

.form .mail input {
    position: relative;
    height: 2rem;
    width: 100%;
    outline: none;
    border: 1px solid var(--extra);
    border-radius: 0.4rem;
    padding: 0 0.6rem;
    margin-top: 0.2rem;
    background: var(--extra);
}

/* LIGNE 3 GENDER */
.form :where(.gender-box ,.gender-option, .gender) {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
    margin-top: 1.2rem;
    flex-wrap: wrap;
}

.gender-box h3 {
    color: var(--secondary);
    font-weight: 100;
}

.form .gender {
    column-gap: 0.4rem;
    cursor: pointer;
    margin-top: -10%;
    color: var(--secondary);
}

.form :where(.gender input, .gender label) {
    cursor: pointer;
}


/* LIGNE 4 PASSWORD */

.form .mail {
    width: 100%;
    margin-top: 1rem;
}

.pass label {
    color: var(--secondary);
}

.form .pass input {
    position: relative;
    height: 2rem;
    width: 100%;
    outline: none;
    border: 1px solid var(--extra);
    border-radius: 0.4rem;
    padding: 0 0.6rem;
    margin-top: 0.2rem;
    background: var(--extra);
}.form .pass {
    width: 100%;
    margin-top: 1rem;
}

.form .key {
    width: 75%;

}

/* Button Valider */


.form button {
    height: 20%;
    width: 40%;
    color: var(--secondary);
    background-color: var(--third);
    border: none;
    border-radius: 0.8rem;
    margin-top: 1.2rem;
    cursor: pointer;
    font-weight: 300;
    font-size: 1.2rem;
    padding: 0.5rem;
    display: grid;
    justify-self: center;
}

/* Last line text */

p, a{
    color: var(--extra);
    margin-top: -10%;
    text-align: center;
}

/* Responsive */

@media screen and (max-width: 500px) {
    .form .column {
        flex-wrap: wrap;
    }

    .form :where(.gender-box ,.gender-option, .gender) {
        row-gap: 1rem;
    }
}